{% extends "base.html" %}

{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 text-white">About Me</h3>
                    <p class="text-light"> &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="top">
      <div class="card-body">
        <h1>Profile</h1>
        <p class="card-text ">I am a graduate from Nottingham Trent University with a degree in Computing. I am a very driven and enthusiastic individual who thrives in fast-paced environments, both in teams and individually.<br> 
During my final year project I was tasked with creating a mobile application to assist farmers with profit loss due to weather conditions. Throughout the development of the application, I gained many skills due to the plethora of problem solving I was tasked with.
</p>
        <h1>Technical Skills</h1>
        <p class="card-text ">•	Technical writing<br>
•	Information systems management<br>
•	Data analysis<br>
•	Business skills<br>
•	Computer and technology knowledge<br>
•	Multiple coding languages (Python, HTML, PHP, Unity, Flutter)<br>
•	Familiar with the entire Microsoft Office suite, Dreamweaver, Eclipse, MS Visual Studio, Atom, Android Studio, Unity Suite<br>
•	Full-stack development utilizing the Django framework

</p>
        <h1>Soft Skills</h1>
        <p class="card-text ">
•	Communication<br>
•	Attention to detail<br>
•	Teamwork & cooperation<br>
•	Analysis<br>
</p>
        <h1>Previous work:</h1>
        <p class="card-text ">
•	Technical specialist working with a growing eCommerce business<br>
•	Raspberry pi event planner<br>
•	Freelance website development<br>
Please get in touch to discuss the work I completed while with these businesses, or review my portfolio.
</p>
        <h1>Education history</h1>
        <p class="card-text ">
•	8x GCSE's - St Columbas College<br>
•	Level 3 Extended Diploma in Computer Science - West Herts College<br>
•	Bachelors Degree in Computing - Nottingham Trent<br>
</p>
      </div>
    </div>
  </div>
</div>
{%endblock%}