{% extends "base.html" %}

{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 text-white">Contact Information</h3>
                    <p class="text-light"> &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="top">
      <div class="card-body">
        <h1>Email/Phone</h1>
        <p class="card-text ">To contact me, please either send me an email at: <a href="mailto:tim@timkelly.pro">tim@timkelly.pro</a> or please call/text using 07523 297990.
</p>
      </div>
    </div>
  </div>
</div>
{%endblock%}